@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-ThinItalic.ttf);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-LightItalic.ttf);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-MediumItalic.ttf);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-BlackItalic.ttf);
    font-style: italic;
    font-weight: 900;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.h1,
h1 {
    font-size: 2.5rem;
}

.h2,
h2 {
    font-size: 2.0rem;
}

.h3,
h3 {
    font-size: 1.75rem;
}

.h4,
h4 {
    font-size: 1.5rem;
}

.h5,
h5 {
    font-size: 1.25rem;
}

.h6,
h6 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

i.p {
    font-size: 1.25rem;
}