* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto;
    line-height: 1.15;
    color: white;
}

body {
    background-image: url(../images/kali-trail.png);
    background-size: cover;
    background-position: center;
}

header {
    margin: 20px 20px 0 20px;
    padding: 20px;
    background-color: rgba(15, 16, 20, 0.9);
    border-radius: 20px;
    text-align: center;
}

main {
    min-height: 100vh;
    padding: 20px;
}

.panel1 {
    padding: 20px;
    background-color: rgba(15, 16, 20, 0.9);
    border-radius: 20px;
}

p.description {
    text-align: center;
    font-style: italic;
}

.personaldatatitle i {
    float: left;
    line-height: 30px;
    padding-right: 10px;
}

.personaldatatitle h4 {
    line-height: 30px;
}

.personaldatacontent i {
    float: left;
    padding: 0 10px 0 20px;
}

.personaldatacontent p {}

.skilllist {
    margin-left: 20px;
}

.skill i {
    font-size: 1.25rem;
}

.skilltitle {
    float: left;
    margin: auto;
}

.skilltitle label {
    padding-left: 5px;
    font-size: 1.2em;
    font-weight: 500;
}

.skillbutton {
    text-align: right;
    line-height: 50px;
}

.skillbutton i {
    font-size: 1.5rem;
}

.skillbutton .fa-caret-square-down {
    display: block;
}

.skillbutton .fa-caret-square-up {
    display: none;
}

.skilldropdown {
    height: 0;
    width: 100%;
    overflow: hidden;
    display: block;
    margin: 10px 0;
}

.skilldropdown label {
    margin: 5px 0 5px 35px;
    line-height: 30px;
}

.skillmax {
    border-radius: 20px;
    background-color: lightgrey;
    margin: 5px 0 5px 35px;
}

.skillvalue {
    border-radius: 20px;
    background-color: rgb(18, 60, 85);
    color: white;
    text-align: center;
}