html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto;
    font-size: 0.875rem;
    color: white;
}

@media screen and (min-width:576px) {
    html {
        font-size: 1rem;
    }
}

.background {
    background-image: url(../images/kali-trail.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

header {
    margin: 20px 20px 0 20px;
    padding: 20px;
    background-color: rgba(15, 16, 20, 0.9);
    border-radius: 20px;
    text-align: center;
}

main {
    min-height: 100vh;
    padding: 20px;
}

.panel1 {
    padding: 20px;
    background-color: rgba(15, 16, 20, 0.9);
    border-radius: 20px;
}

p.description {
    text-align: center;
    font-style: italic;
}

.title i {
    float: left;
    padding-right: 10px;
}

.title h4 {
    display: inline-block;
}

.personaldatacontent i {
    float: left;
    padding: 0 10px 0 20px;
}

.skilllist {
    margin-left: 20px;
}

.skill i {
    font-size: 1.25rem;
}

.skilltitle {
    float: left;
    margin: auto;
}

.skilltitle label {
    padding-left: 5px;
    font-size: 1.2em;
    font-weight: 500;
}

.skillbutton {
    text-align: right;
}

.skillbutton i {
    font-size: 1.5rem;
}

.skillbutton .fa-caret-square-down {
    display: block;
}

.skillbutton .fa-caret-square-up {
    display: none;
}

.skilldropdown {
    height: 0;
    width: 100%;
    overflow: hidden;
    display: block;
    margin: 5px 0;
}

.skilldropdown label {
    margin: 5px 0 5px 35px;
}

.skillmax {
    border-radius: 20px;
    background-color: lightgrey;
    margin: 5px 0 5px 35px;
}

.skillvalue {
    border-radius: 20px;
    background-color: rgb(18, 60, 85);
    color: white;
    text-align: center;
}